body{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
div{
    border: solid thin #ff00ff;
    border-radius: 8px;
    width: 500px;
    margin: auto;
    padding: 5px;
}
img{
    width: 400px;
}
span.tieude1{
    font-family: cursive;
    font-size: 40px;
    color: blue;
    text-shadow: 2px 2px #ff00ff;
    font-style: italic;
}
span.tieude2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: red;
}
span.noidung1{
    color: #4169e1;
}
span.noidung2{
    color: #ff8c00;
}